@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:#2155CD ;

}
#seleccionar-mascota{
    /* Se aplican conceptos de flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
}
.subtitulo{
    color: white;
    font-size: 20px;

}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{

    background-color: #0AA1DD;
    width: 164px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input{
    display: none;
}

#boton-mascota{
    background-color: #79DAE8;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    color: #2155CD;
    border-color: white    ;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 30px;
}
      
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;

}

.boton-de-ataque{
    background-color: #79DAE8;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    box-sizing: border-box;
    color: white;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;

}