@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:#2155CD ;

}
#seleccionar-mascota{
    /* Se aplican conceptos de flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
}
.subtitulo{
    color: white;
    font-size: 20px;

}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{

    background-color: #0AA1DD;
    width: 170px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input{
    display: none;
}

input:checked + label {
    border: solid;
    border-color: white;
    background-color:#8449f1 ;
}

input:hover + label {
background-color:#8449f1 ;
}

#boton-mascota{
    background-color: #79DAE8;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    color: #2155CD;
    border-color: white    ;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

#boton-mascota:hover{
    width: 170px;
    height: 60px;
}
#boton-mascota:active{
    background-color:#8449f1 ;
    color: white;
}
      
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;

}

.boton-de-ataque{
    background-color: #79DAE8;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    border-color:transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

}

.boton-de-ataque:active {
    background-color: #0096FF;
}
#mensajes{
    background: whitesmoke;
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2155CD;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#boton-reiniciar{
    border: solid;
    border-color: rgb(66, 154, 248)   ;
    color: #2155CD;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* font-weight: bold ; */
    border-radius: 5px;
    margin: 0px;
    background-color: #2155CD;
    color: white;
    
}

#boton-reiniciar:hover{
    background-color: #0096FF;
}

#boton-reiniciar:active {
    background-color: #8449f1;
}
.batalla{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#vida-jugador, #vida-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

/* #ataques-jugador, #ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
} */


#ver-mapa {
    flex-direction: column;
    align-items: center;   
    justify-content: center;

}

#ver-mapa button {
    background-color: #79DAE8;
    width: 75px;
    height: 50px;
    border-radius: 30px;
    color: #2155CD;
    border-color: white    ;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
}

#mapa {
    border: solid white;

}

@media (max-width: 620px) {
    .tarjetas {
        flex-direction: column;
    }

    .boton-de-ataque{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 424px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}